.calculator{
	width: 450px;
	height: 500px;
  border-radius: 10px;
  padding: 30px 10px 10px 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-around;

	&__menu{
		width: 96%;
	}

  &__display-block{
    width: 96%;
    height: 15%;
    border-radius: 5px;
    text-align: right;
    padding: 10px 10px;
    box-sizing: border-box;
    font-size: 20px;
    transition: all 0.3s;
    text-overflow: ellipsis;
    overflow: hidden;
  }


  &__num{
    width: 21%;
    height: 11%;
    border-radius: 5px;
    font-size: 25px;
  }
  &__ops{
    @extend .calculator__num;
  }
  &__result{
    @extend .calculator__num;
  }
  &__clear{
    @extend .calculator__num;

  }
}
.broken {
  animation: broken 2s;
  transform: translate3d(0,-2000px,0);
  opacity: 0;
}
@keyframes broken {
  0% {
    transform: rotate(-5deg);
    opacity: 1;
  }

  5% {
    transform: rotate(5deg);
  }

  15% {
    transform: rotate(-7deg);
  }

  20% {
    transform: rotate(7deg);
  }

  25% {
    transform: rotate(-30deg);
  }

  50% {
    transform: rotate(30deg);
  }

  60% {


    transform: translate3d(0,0,0);
  }
  70% {
    transform: translate3d(0,2000px,0);
    opacity: 1;
  }

  75% {
    opacity: 0;
  }

  100% {
    transform: translate3d(0,-2000px,0);
  }
}
